<!DOCTYPE html>
<html>

<head>
    <title>Today</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <script src="javascript/switchTheme.js"></script>

    <% if (ip) { %>
	    <div class="logo">
	    	<p>Request IP: <%= ip %></p>
	    </div>
	<% } %>

	<div class="logo">
		<h2 id="fetched-date"></h2>
	</div>

	<script src="javascript/fetchDate.js"></script>
</body>

</html>